$text: 14px;
$h2: 24px;
$h1: 2.2vw;

body {display: flex;}
.contacts {
    display: flex;
    width: 75%;
    height: 90%;
    padding-top: 100px;

    .contacts__contact-info {
    font-family: IBM Plex Sans;
    width: 43%;
    padding-left: 50px;
    margin-right: 40px;

    h2 {
        font-size: $h2;
        font-weight: 500;
    }

    h1 {
        font-size: $h1;
        font-weight: 700;
    }

    p {
        font-weight: 400;
    }

    .contacts__contact-info__phone {
        font-weight: 700;
        font-size: $h2;
        margin-top: 15px;
    }

    .contacts__phone {
        display: flex;
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .contacts__social-networks {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
    }
    }

    /* ТУТ СТИЛИ ДЛЯ ФОРМЫ*/
    
    .contacts__form {
        font-family: IBM Plex Sans;
        width: 55%;
        background-image: linear-gradient(to right, #B86ADF, #FF6C63, #FFB147);
        height: 90%;
        padding: 60px;
        color: white;
        /*display: flex;
        justify-content: space-around;*/

        h1 {font-size: 1.8vw; margin-bottom: 60px;}
    }

    .contacts__form-input {
        background: none;
        border-width: 0 0 1px 0;
        border-bottom: #fff 1px solid;
        color: #fff;
        margin-right: 30px;
        height: 35px;
        /*box-shadow: 0 3px 3px -3px #fff;*/
    }

    input {outline: none;}

    .contacts__form-input::placeholder, .contacts__form-txtarea::placeholder {color: #fff;}

    .contacts__form-input:active {background: none;}

    .contacts__form-txtarea {
        margin-bottom: 40px;
        margin-top: 60px;
        border: none;
        background: none;
        color: #fff;
        width: 80%;
        height: 60px;
        border-bottom: #fff 1px solid;
    }

    .contacts__form-txtarea:active {border: 0cm; box-shadow: none;}

    textarea {outline: none;}

    .form__btn {
        background-color: #000;
        width: 211px;
        height: 56px;
        font-family: IBM Plex Sans;
        font-size: 18px;
        border: 0;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        img {
            margin-left: 10px;
        }
    }
}

aside {
    width: 20%;
}





